streamlit>=1.32
altair<5
pandas
numpy
scikit-learn
matplotlib
joblib
chromadb
sentence-transformers
groq
opentelemetry-api>=1.25.0
opentelemetry-sdk>=1.25.0
opentelemetry-exporter-otlp-proto-grpc>=1.25.0
opentelemetry-proto>=1.25.0
